

.cursorGlow {
  width: 235px;
  height: 235px;
  background: var(--color-primary);
  border-radius: 100%;
  position: fixed;
  pointer-events: none;
  z-index: 9998;
  opacity: 0.1;
  transform: translate(-50%, -50%);
  filter: blur(87px);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}






